<h1>Create User</h1>

<%= form_for @user do |f| %>
  <label>
    Username
    <%= f.text_field :username %>
  </label>

  <label>
    Password
    <%= f.password_field :password %>
  </label>

  <%= f.submit 'Create' %>
<% end %>
