#my-turns {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    }
    li a {
        display: block;
        height: 75px;
        padding-left: 92px;
        border: 1px solid #ddd;
        border-radius: 4px;
        line-height: 64px;
        font-size: 25px;
    }
    li.go a {
        background: no-repeat 0 0 url(http://farm2.staticflickr.com/1140/547944930_8d911f4027_s.jpg);
    }

    li.tigris a {
        background: no-repeat 0 0 url(http://farm1.staticflickr.com/129/344808931_e82e768a14_s.jpg);
    }

    li.brass a {
        background: no-repeat 0 0 url(http://farm4.staticflickr.com/3209/3044965125_3b988ed585_s.jpg);
    }
}
